$font: sans-serif;
$text-color: #fafafa;
$selected: #333;
$panel: #667;
$unselected: #999;
$body: #c9c9c9;

*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font;
}

.stopwatch{
    display: inline;
}

.buttons{
    text-align: center;
    padding-top: 15px;
}

.button{
    font-size: 20px;
    height: 40px;
    width: 150px;
    background-color: greenyellow;
    border-radius: 15px;
}

.time{
    text-align: center;
    padding-top: 15px;
    // flex-direction: row;

}

// .time{
//     // background-color: red;
//     flex-direction: row;
//     float: left;
// }

.watchStop{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    font-family: 'RocknRoll One', sans-serif;
    border: black 3px solid;
    background-color: $panel;
    color: white;
    border-radius: 20px;
}

.watch{
    font-size: 70px;
}

.lap1{
    font-size: 50px;
}

.laps{
    margin-top: 20px;
    background-color: $selected;
    color: white;
    border-radius: 20px;
}

#punct{
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}